.cartContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
}

.cart {
    width: 90%;
    max-width: 75rem;
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.cartHeadingContainer {
    width: auto;
    height: auto;
    align-self: flex-start;
}

.cartContentContainer {
    width: 90%;
    height: 60%;
    background-color: whitesmoke;
}

.cartActionBar {
    width: 90%;
    height: 5rem;
    background-color: thistle;
}
