.cartContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    overflow-y: scroll;
    padding: 10vh 0 7rem 0;
}

.cartWrapper {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart {
    width: 90%;
    max-width: 75rem;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
    margin: 2rem 0 4rem 0;
}

.cartHeadingContainer {
    width: auto;
    align-self: flex-start;
}

.cartContentContainer {
    width: 90%;
    height: auto;
}

.cartActionBar {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
    visibility: visible;
}

.cartActionBarHidden {
    visibility: hidden;
}

.cartHeading {
    font-size: clamp(1.6rem, 1.4rem + 0.8889vw, 2.2rem);
    font-weight: 400;
    text-transform: uppercase;
    font-style: italic;
    letter-spacing: 0.06rem;
}

.cartCheckboxContainer {
    width: 15rem;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.cartCheckboxLabel {
    font-style: italic;
}

#cartCheckbox {
    width: 1.6rem;
    height: 1.6rem;
    cursor: pointer;
}

.cartColourComponent {
    font-size: 1.6rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.02rem;
}

.cartColourPrice {
    justify-self: flex-end;
}

.productImg {
    width: 3rem;
    height: 3rem;
    border: 1px dotted #333;
    border-radius: 1rem;
}

.textCenter {
    text-align: center;
}

.row {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 1fr 1fr;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.cartTotal {
    font-size: 1.6rem;
    justify-self: flex-end;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0.02rem;
}

.cartTotalText {
    grid-column: 3 / 4;
}

.cartTotalPrice {
    grid-column: span 2;
}

/* Screen breakpoint 1200px */
@media screen and (max-width: 75rem) {
    .cartContainer {
        padding-top: 8vh;
    }
}

/* Screen breakpoint 784px */
@media screen and (max-width: 49rem) {
    .cartContainer {
        padding-top: 4rem;
    }
}
