.wrapper {
    margin-top: 10vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}

.adress {
    flex: 1;
    display: flex;
    justify-content: center;
    align-self: center;
    
}


.contact-form {
    width: 68%;
    margin-top: 4rem;
    height: 30rem;
    align-content: center;
   
 }

input {
    width: 48%;
}

form{
    display: flex;
    align-items: flex-start;
    margin-top: 1rem;
}
label{
    width: 20%;
}
textarea {
    width: 48%;
    height: 15rem;
}
.cartContact {
    font-size: clamp(1rem, 0.6667rem + 1.4815vw, 2rem);
    font-weight: 400; 
    font-style: italic;
    letter-spacing: 0.06rem;
}



.btn-knapp {
    display: flex;
    justify-content: space-between;
    width: 78%;
  
}

.btn-clear {
    display: flex;
    width: 67%;
    justify-content: flex-end;
}





@media screen and (max-width: 53rem) {
    .wrapper {
        margin-top: 10vh;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
      
    }

    

.adress {
  
    display: flex;
    justify-content: center;
    flex: 1;

}


.contact-form {
    display: flex;
    flex-direction: column;

    align-content: flex-start;
   
 }
 
form{
 
    display: flex;
    flex-direction: column;
    align-items: center;
  
}


textarea {
    width: 50%;
    height: 5rem;
}

.btn-knapp {
    display: flex;
    justify-content: space-between;
    width: 78%;
  
  
}

.btn-clear {
    display: flex;
    width: 50%;
    justify-content: flex-end;
}


    
}




label {
    display: flex;
    flex: 1;
    justify-content: center;
    align-content: space-between;
    height: 3rem;
}
input {
    flex: 2;
}

.text-s {
}

@media screen and (max-width: 35rem) {
    .wrapper {
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 9vh;
    }
    .contact-form {
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
    }

    .contact-form {
        margin-top: 5vh;
        display: flex;
        flex-direction: column;
    }
}
