.banner {
    width: 100vw;
    height: 10vh;
    background-color: #fdffa4;
    margin-top: 10vh;
}

.home {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: scroll;
}

.homeContentContainer {
    width: 85%;
    max-width: 75rem;
    height: 50%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 7rem;
}

.homeHeader {
    width: 60%;
    height: 100%;
}

.homeHeaderHeading {
    font-size: clamp(2.6rem, 2.2rem + 2vw, 4rem);
    text-transform: uppercase;
    line-height: clamp(2.5rem, 2.2143rem + 1.4286vw, 3.5rem);
    letter-spacing: 0.04rem;
    font-weight: 400;
    font-style: italic;
}

.homeHeaderHeading > span {
    font-size: clamp(1.6rem, 1.3143rem + 1.4286vw, 2.6rem);
    line-height: clamp(2.5rem, 2.2143rem + 1.4286vw, 3.5rem);
    text-transform: lowercase;
    letter-spacing: 0.02rem;
}

.homeHeaderSubHeading {
    display: inline-block;
    padding-top: 2rem;
}

.homeAside {
    width: 29rem;
    height: 100%;
    max-height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.trendColHeading {
    font-size: clamp(1.6rem, 1.4rem + 0.8889vw, 2.2rem);
    text-transform: uppercase;
    letter-spacing: 0.02rem;
    padding-bottom: 2rem;
}

.trendColours {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding-right: 2rem;
}

.trendColItemContainer {
    width: 20rem;
    margin: 0;
}

.trendColItemContainer:last-child {
    align-self: flex-start;
}

.trendColUnitsContainer {
    width: 100%;
    justify-content: space-between;
    /* padding-right: 3rem; */
}

.trendColButton {
    margin-left: auto;
}

/* Screen breakpoint 1200px */

@media screen and (max-width: 75rem) {
    .banner {
        height: 8vh;
        margin-top: 8vh;
    }

    .home {
        height: 80rem;
    }

    .homeContentContainer {
        height: 65%;
        width: 60%;
        flex-direction: column;
        justify-content: space-around;
    }

    .homeHeader {
        width: 100%;
    }

    .homeAside {
        align-self: flex-end;
        padding-top: 4rem;
    }
}

/* Screen breakpoint 784px */

@media screen and (max-width: 49rem) {
    .banner {
        height: 4rem;
        margin-top: 4rem;
    }

    .home {
        height: 70rem;
    }

    .homeContentContainer {
        width: 80%;
    }
}

/* Screen breakpoint 544px */

@media screen and (max-width: 34rem) {
    .home {
        padding-bottom: 2rem;
    }

    .homeAside {
        width: 100%;
        align-items: center;
    }

    .trendColours {
        align-items: center;
        padding: 0;
    }

    .trendColItemContainer:last-child {
        align-self: center;
    }
}
