.bannerLink {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #070707;
}

.banner {
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fdffa4;
    margin-top: 10vh;
}

.bannerContent {
    width: 90%;
    display: flex;
    justify-content: space-around;
}

.bannerHeading {
    font-size: clamp(1.2rem, 1rem + 0.8889vw, 1.8rem);
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}

.bannerHeading > span {
    font-weight: 400;
    text-transform: uppercase;
}

.bannerText {
    font-size: clamp(1rem, 0.8333rem + 0.7407vw, 1.5rem);
    font-weight: 400;
    letter-spacing: 0.06rem;
}

.bannerPrice {
    text-decoration-line: line-through;
}

.bannerNewPrice {
    font-size: clamp(1.2rem, 1rem + 0.8889vw, 1.8rem);
}

/* Screen breakpoint 1200px */

@media screen and (max-width: 75rem) {
    .banner {
        height: 8vh;
        margin-top: 8vh;
    }
}

/* Screen breakpoint 784px */

@media screen and (max-width: 49rem) {
    .banner {
        height: 6rem;
        margin-top: 4rem;
    }

    .bannerContent {
        width: 80%;
        flex-direction: column;
    }
}
