.button {
    border-radius: 4px;
    width: 7.8rem;
    height: 2.5rem;
    text-transform: uppercase;
    font-size: 0.875rem;
    border: none;
    box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
