.colourItemContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 2rem auto;
    padding: 0.6rem;
    width: 100%;
    height: auto;
    gap: 1rem;
}

.dataContainer {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.unitsContainer {
    width: 50%;
    display: flex;
    justify-content: space-around;
    gap: 1.4rem;
    font-size: clamp(1rem, 0.6667rem + 1.4815vw, 1.5rem);
}

.productTitle {
    text-transform: capitalize;
    font-weight: 400;
    font-size: clamp(1.25rem, 0.9167rem + 1.4815vw, 1.75rem);
}

.productImg {
    width: 4rem;
    height: 4rem;
    border: 1px solid #070707 !important;
    border-radius: 0.5rem;
    transition: all 0.2s ease-in-out;
}

.productImg:hover {
    cursor: pointer;
    transform: translateX(4rem) scale(4);
}

.selectMenu label,
.selectMenu input {
    display: block;
    width: 4rem;
    padding: 2px;
}

.selectMenu input {
    text-align: center;
}

.reduced {
    text-decoration: line-through;
}

.reducedPrice {
    text-align: center;
    width: 7rem;
    height: 2.6rem;
    background-color: #eb8d8d;
    padding: 0.2rem 0.8rem;
    border-radius: 0.3rem;
    transform: rotate(-15deg);
}
