.colourItemContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
    width: 100%;
    height: auto;
    border: 1px solid green;
}

.dataContainer {
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.unitsContainer {
    display: flex;
    justify-content: space-around;
    gap: 1.4rem;
}

.productTitle {
    text-transform: capitalize;
    font-weight: 400;
}

.productImg {
    width: 4rem;
    height: 4rem;
    border: 1px dotted #333;
    border-radius: 1rem;
}
