.colourItemContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 2rem auto;
    padding: 0.6rem;
    width: 100%;
    height: auto;
    gap: 1rem;
}

.dataContainer {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.unitsContainer {
    width: 50%;
    display: flex;
    justify-content: space-around;
    gap: 1.4rem;
    font-size: clamp(1rem, 0.6667rem + 1.4815vw, 1.5rem);
}

.productTitle {
    text-transform: capitalize;
    font-weight: 400;
    font-size: clamp(1.25rem, 0.9167rem + 1.4815vw, 1.75rem);
}

.productImg {
    width: 4rem;
    height: 4rem;
    border: 1px dotted #333;
    border-radius: 1rem;
}

.selectMenu label,
.selectMenu input {
    display: block;
    width: 4rem;
    padding: 2px;
}

.selectMenu input {
    text-align: center;
}
